
:root {
  --primary-color: #blue; /* Adjust colors as needed */
  --secondary-color: #50E3C2;
  --background-color: #F5F7FA;
  --text-color: #333333;
  --heading-color: #222222;
}

/* Apply global styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
}

/* Headings */
h1, h2, h3 {
  color: var(--heading-color);
  font-family: 'Montserrat', sans-serif;
}

/* Buttons */
button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--secondary-color);
}
